<%= stylesheet_link_tag 'jquery.Jcrop', 'jquery.loadmask' %>
<%= javascript_include_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<%= javascript_include_tag 'js/jquery.json'%>
<%= javascript_include_tag 'js/jquery.loadmask'%>

            <div class="content-main">
						<div class="content-wrapper" >
							<%=render :partial=>"search_content"%>
		    			</div>
		    		</div>
		    	
					
				
<script type="text/javascript">
	
	$('#form_submit').click(function(){
		
		$('#cart input#style_position').attr('value',$('#cart div.ui-resizable').attr('style'));
		$('#cart div#content_position').attr('value',$('#contentObject #ui-draggable').attr('style'))

        var sorted_positions='';
        //$('#sortable li.item').each(function(ix){
        $('div#site-blocks div.item').each(function(ix){
            var did = this.id.match(/\d+/)[0];
            var style = $('#resize_'+did).attr('style');
            // save the resized styles
            if(style !== undefined) {
                // find the top position
                var _s_pos = 'position:relative;', _top = style.match(/top\:([\s-\+\d]+)/);
                if(_top.length >= 2) _s_pos += 'top:'+_top[1]+'px;';
                // find the left position
                var _left = style.match(/left\:([\s-\+\d]+)/);
                if(_left.length >= 2) _s_pos += 'left:'+_left[1]+'px;';
                // now save it to the hidden var
                $('input#style_position_'+did).attr('value',_s_pos);
            }
            // save the positions
            $('input#list_order_'+did).attr('value',ix+1);
            sorted_positions = sorted_positions + ',' + $(this).attr('id');
            if($('#resize_'+did+' .resizable_content')) {
                $('input#iwidth_'+did).attr('value',$('#resize_'+did+' .resizable_content').width());
                $('input#iheight_'+did).attr('value',$('#resize_'+did+' .resizable_content').height());
            }
        });
        // now storing the comma separated sorted orders
        $('input#sorting_position').attr('value',sorted_positions);

        // misc
		if ($('#cart input#content_type').attr('value') != "Misc") {
			var content_id = $('#cart div.item').attr('class').split(' ').pop()
			$('#cart input#content_id').attr('value', content_id)
		}
        // after doing all the manipulation and gathering the info, submit the form
		$('#content_page_save').submit();
  });
  
  $('#preview_button').click(function(){
    $('#is_preview').attr("value", true)
    $('#content_page_save').submit();
  });

jQuery(document).ready(function($) {
  $('.facebox_click').facebox()
}) 
      
</script>
